html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

tbody {
    counter-reset: row-num;
}

    tbody tr {
        counter-increment: row-num;
    }

        tbody tr th:first-child::before {
            content: counter(row-num);
        }
td {
    position: relative;
    text-align: center;
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    height: 40px;
}

input[type=text]:invalid {
    border-color: red;
}

input[type=text]:valid {
    border-color: palegreen;
}

.supLeft {
    position: absolute;
    top: 15%;
    left: 3%;
}

.supRight {
    position: absolute;
    top: 15%;
    right: 3%;
}

.cellInput {
    width: 3ch;
    height: 3ex;
    margin: auto;
    padding: 0;
    text-align: center;
}